<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>IW: Welcome</title>

</head>

<body class="d-flex flex-column h-100 text-center">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5 mb-5">Búsqueda de productos</h1>
            <p class="text-start">Puedes buscar productos por nombre o código de barras para compararlo o añadir/editar un producto.</p>
            <ul class="text-start">
                <li>Un administrador se encargará de revisar las propuestas de añadir/editar un producto y decidirá si lo acepta o no.</li>
            </ul>
        </div>
    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>