/* usa este fichero para personalizar tus vistas */

.iwthumb {
    height: 32px;
    width: 32px;
}

.errTable tr>td:first-child {
    min-width: 200px;
    max-width: 200px;
    word-break: break-all;
    font-weight: bold;
    color: gray;
}

.errTable td {
    vertical-align: top;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

img.preview {
    object-fit: cover;
    width: 10%;
    height: 100px;
    border-radius: 10px;
}

.author-card {
    transition: 0.2s;
}

.author-card:hover {
    border-color: darkgrey;
}

.author-img {
    transition: 0.2s;
}

.author-img:hover {
    transform: scale(1.01);
}

.login-box {
    width: 100%;
    max-width: 360px;
    height: 100%;
    max-height: 310px;
}

.register-box {
    width: 100%;
    max-width: 360px;
    height: 100%;
    max-height: 400px;
}

.contenedor-cart {
    border-radius: 15px; 
    border: 1px solid #ffaa65; 
    background-color: #ffffff;
    padding: 25px;
}

.card-activa {
    background-color: #fd7e14 !important;
    color: white !important;
}