<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>IW: Admin</title>
    <link rel="stylesheet" th:href="@{/css/simple-datatables-10.css}" href="/css/simple-datatables-10.css"
        type="text/css" />
</head>

<body class="d-flex flex-column h-100 text-center">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5 mb-5">Administrar solicitudes</h1>
            <div class="border border-3 rounded-5 mx-auto panel-lg">
                <div id="request-list" class="p-3 text-start">
                    <div class="border border-1 rounded-3 mt-3 mb-3 p-3 d-flex justify-content-between align-items-center solicitud">
                        <p>Usuario: Pepe | Añadir nuevo producto: Chocolate</p>
                        <div class="d-flex gap-2">
                            <button class="btn btn-success rounded-pill px-4 btn-aceptar">Aceptar</button>
                            <button class="btn btn-danger rounded-pill px-4 btn-rechazar">Rechazar</button>
                        </div>
                    </div>
                    <div class="border border-1 rounded-3 mt-3 mb-3 p-3 d-flex justify-content-between align-items-center solicitud">
                        <p>Usuario: Manuel | Modificar producto: Leche</p>
                        <div class="d-flex gap-2">
                            <button class="btn btn-success rounded-pill px-4 btn-aceptar">Aceptar</button>
                            <button class="btn btn-danger rounded-pill px-4 btn-rechazar">Rechazar</button>
                        </div>
                    </div>
                    <div class="border border-1 rounded-3 mt-3 mb-3 p-3 d-flex justify-content-between align-items-center solicitud">
                        <p>Usuario: María | Modificar producto: Arroz</p>
                        <div class="d-flex gap-2">
                            <button class="btn btn-success rounded-pill px-4 btn-aceptar">Aceptar</button>
                            <button class="btn btn-danger rounded-pill px-4 btn-rechazar">Rechazar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            const requestList = document.querySelector("#request-list");

            const className = "border border-1 rounded-3 mt-3 mb-3 notification";

            let numSolicitudes = 1;

            requestList.addEventListener("click", e => {
                if (e.target.classList.contains("btn-aceptar")) {

                    const btnAceptar = e.target;
                    e.target.parentElement.parentElement.remove();

                }
                else if (e.target.classList.contains("btn-rechazar")) {

                    const btnRechazar = e.target;
                    e.target.parentElement.parentElement.remove();

                }
            });

        </script>
    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
    <script>
        const toggles = document.querySelectorAll('.toggle');
        toggles.forEach(toggle => {
            toggle.addEventListener('click', (e) => {
                e.preventDefault();
                const form = e.target.parentElement;
                go(form.action, 'POST').then((d) => {
                    if (d.enabled) {
                        e.target.classList.remove('btn-primary');
                        e.target.classList.add('btn-danger');
                        e.target.textContent = 'Deshabilitar';
                    } else {
                        e.target.classList.remove('btn-danger');
                        e.target.classList.add('btn-primary');
                        e.target.textContent = 'Habilitar';
                    }
                    console.log(d);
                });
            });
        });


    </script>

    <script type="module">
        import { DataTable } from "../js/simple-datatables-10.js"
        let dt = null;
        function refreshMessages() {
            go('/admin/all-messages', 'GET').then((d) => {
                if (dt) {
                    dt.destroy();
                    document.querySelector("#messages").innerHTML = '';
                }
                dt = new DataTable('#messages', {
                    data: {
                        headings: ['from', 'to', 'text'],
                        data: d
                    },
                    searchable: true,
                    paging: false
                });
                dt.on("datatable.selectrow", (rowIndex, event, focused) => {
                    event.preventDefault();
                    console.log("click en fila: ", dataTable.data[rowIndex]);
                });
            });
        }
        document.getElementById('refresh').addEventListener('click', refreshMessages);
        refreshMessages();
    </script>
</body>

</html>