<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>PrecioSmart Autores</title>

</head>

<body class="d-flex flex-column h-100 text-center">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5 mb-5">Autores</h1>
            <div class="d-flex flex-row justify-content-center gap-4 mb-5">
                <div class="card-naranja shadow" style="width: 18rem;">
                    <!--$u.hasRole('ADMIN')-->
                    <h2 class="card-text mt-4">Álvaro García</h2>
                    <img th:src="@{/img/authors/algar.jpg}" class="rounded-circle p-4 w-75" alt="Foto de Álvaro García">
                </div>
                <div class="card-naranja shadow" style="width: 18rem;">
                    <h2 class="card-text mt-4">Adrián García</h2>
                    <img th:src="@{/img/authors/adri.png}" class="rounded-circle p-4 w-75" alt="Foto de Adrián García">
                </div>
                <div class="card-naranja shadow" style="width: 18rem;">
                    <h2 class="card-text mt-4">José Antonio Gimeno</h2>
                    <img th:src="@{/img/authors/jose.jpg}" class="rounded-circle p-4 w-75" alt="Foto de José Antonio Gimeno">
                </div>
                <div class="card-naranja shadow" style="width: 18rem;">
                    <h2 class="card-text mt-4">Javier Polo</h2>
                    <img th:src="@{/img/authors/javi.jpg}" class="rounded-circle p-4 w-75" alt="Foto de Javier Polo">
                </div>
            </div>
        </div>
    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>