<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>PrecioSmart Autores</title>

</head>

<body class="d-flex flex-column h-100 text-center">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5 mb-5">Autores</h1>
            <div class="d-flex flex-row justify-content-center gap-4">
                <div class="card shadow author-card" style="width: 18rem;">
                    <!--$u.hasRole('ADMIN')-->
                    <h2 class="card-text mt-4">Álvaro García</h2>
                    <img th:src="@{/img/algar.jpg}" class="card-img-top rounded-circle p-4 author-img" alt="foto de alvaro garcia">
                </div>
                <div class="card shadow author-card" style="width: 18rem;">
                    <h2 class="card-text mt-4">Adrián García</h2>
                    <img th:src="@{/img/adri.png}" class="card-img-top rounded-circle p-4 author-img" alt="foto de adrián garcía">
                </div>
                <div class="card shadow author-card" style="width: 18rem;">
                    <h2 class="card-text mt-4">José Antonio Gimeno</h2>
                    <img th:src="@{/img/jose.jpg}" class="card-img-top rounded-circle p-4 author-img" alt="foto de jose antonio gimeno">
                </div>
                <div class="card shadow author-card" style="width: 18rem;">
                    <h2 class="card-text mt-4">Javier Polo</h2>
                    <img th:src="@{/img/javi.jpg}" class="card-img-top rounded-circle p-4 author-img" alt="foto de javier polo">
                </div>
            </div>
        </div>
    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>