<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>PrecioSmart Carritos</title>

</head>

<body class="d-flex flex-column h-100 text-center">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5 mb-5">Tu carrito de la compra</h1>
            <p class="text-start">Puedes crear carritos de la compra seleccionando los productos que tiene cada uno. La
                aplicación calcula el precio total en distintos supermercados para que puedas comparar y elegir dónde
                comprar.</p>
            <div th:if="${#lists.isEmpty(cart)}" class="alert alert-warning">
                <p class="text-muted">Tu carrito está vacío.</p>
            </div>

            <table th:unless="${#lists.isEmpty(cart)}" class="table table-striped mt-4">
                <thead class="table-dark">
                    <tr>
                        <th>Producto</th>
                        <th>Unidades</th>
                        <th>Precio/u</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item : ${cart}">
                        <td th:text="${item.name}">Producto</td>
                        <td th:text="${item.quantity}">1</td>
                        <td th:text="${item.price} + '€'">0.00€</td>
                        <td th:text="${item.quantity * item.price} + '€'">0.00€</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="table-secondary">
                        <td colspan="3" class="text-end"><strong>Total del Carrito:</strong></td>
                        <td><strong th:text="${totalPrice} + '€'">0.00€</strong></td>
                    </tr>
                </tfoot>
            </table>


        </div>
    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>