<!--Queda por implementar la funcionalidad de actualizar solicitudes al tener mas dependencias que la hacen demasiado compleja para el mockup de la version estatica-->

<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>PrecioSmart Solicitud</title>
</head>

<body class="d-flex flex-column h-100 text-center">
    <header th:replace="~{fragments/nav.html :: nav}"></header>
    <main class="flex-shrink-0">
        <div class="container w-50 d-flex flex-column my-5 justify-content-center">
            <div class="d-flex flex-row justify-content-between align-items-center mb-5">
                <h1 class="m-0"><b><svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="orange"
                            class="bi bi-file-earmark-text p-2" viewBox="0 0 16 16">
                            <path
                                d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5" />
                            <path
                                d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z" />
                        </svg>Mis Solicitudes</b></h1>
                <div id="op-buttons" class="d-flex gap-3">
                    <button id="add-button" class="btn btn-naranja">+ Añadir
                        Producto</button>
                    <button id="mod-button" class="btn btn-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                        </svg> Actualizar Producto</button>
                </div>
            </div>
            <div id="error-card" class="card d-flex flex-row align-items-center gap-2 w-auto p-3 mb-4 shadow-sm d-none"
                style="background-color: rgb(194, 190, 190);">
                <b><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red"
                        class="bi bi-exclamation-circle flex-shrink-0" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                        <path
                            d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z" />
                    </svg></b>
                <h5 class="text-danger m-0">La información introducida en alguno de los campos no es válida, corrigelo
                    para enviar la solicitud</h5>
            </div>
            <div id="main-container"
                class="card d-flex flex-column p-4 align-items-center justify-content-start gap-2 shadow-lg">

            </div>
            <div id="form-buttons" class="d-flex flex-row justify-content-center m-5 gap-5 d-none">
                <button id="ok-button" class="btn btn-naranja w-25 p-2">Confirmar</button>
                <button id="cancel-button" class="btn btn-secondary w-25 p-2">Cancelar</button>
            </div>
        </div>
        <script>
            //para esta version queda sin hacer la opcion de editar solicitudes
            const marketList = new Set(["carrefour", "dia", "mercadona", "lidl"]);
            let requests = [];
            const addButton = document.querySelector("#add-button");
            const opButtons = document.querySelector("#op-buttons");
            const formButtons = document.querySelector("#form-buttons");
            const ok = document.querySelector("#ok-button");
            const cancel = document.querySelector("#cancel-button");
            const mainContainer = document.querySelector("#main-container");

            let reqList = ``;

            const form = `<div class="d-flex flex-column w-50 gap-4">
                <h1 class="card-title"><b>Formulario de Solicitud</b></h1>
                <div class="d-flex flex-column w-75 m-3">
                    <h5 class="text-start">Nombre</h5>
                    <input id="name-field" class="form-control" type="text" placeholder="nombre del producto" minLength="5" maxLength="15">
                </div>
                <div class="d-flex flex-column w-25 m-3">
                    <h5 class="text-start">Precio</h5>
                    <div class="d-flex flex-row align-items-center">
                        <input id="price-field" class="form-control" type="number" min="0.01" max="999.99">
                        <h3 class="ms-3"><b>€</b></h3>
                    </div>
                </div>
                <div class="d-flex flex-column w-50 m-3">
                    <h5 class="text-start">Supermercado</h5>
                    <input id="market-field" minLength="3" maxLength="9" class="form-control" type="text" placeholder="supermercado en el que se encuentra">
                </div>
                <div class="d-flex flex-column w-50 m-3">
                    <h5 class="text-start">Código EAN</h5>
                    <input id="ean-field" class="form-control" type="text" placeholder="codigo numerico del EAN del producto" minLength="8" maxLength="13">
                </div>
                <div class="d-flex flex-column w-50 m-3 mb-5 gap-3">
                    <h5 class="text-start">Foto</h5>
                    <input id="photo-field" type="file" accept="image/*">
                </div>
                </div>`

            const emptyFiller = `<div class="d-flex flex-column gap-3"><div class="d-flex w-100 align-items-center justify-content-center"><svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="orange"
                    class="bi bi-question-circle mb-3 mt-1" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path
                        d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94" />
                </svg>
                </div>
                <h3 class=""><b>No hay ninguna solicitud enviada</b></h3>
                <h5 class="text-secondary">Crea en añadir o modifica en actualizar</h5></div>`

            mainContainer.innerHTML += emptyFiller;

            cancel.addEventListener("click", () => {
                mainContainer.innerHTML = requests.length == 0 ? emptyFiller : reqList;
                opButtons.classList.remove("d-none");
                formButtons.classList.add("d-none");
                const err = document.querySelector("#error-card");
                err.classList.add("d-none");
                showFormCards(requests)
            });

            //validaciones algo basicas para la version estatica 
            //mas adelante se mostrara en el pop up de cuando lo envias erroneo las correciones concretas a realizar para hacerlo valido



            function checkMarket(s) {
                if (marketList.has(s.toLowerCase())) {
                    return true;
                }
                return false;
            }

            function checkPrice(num) {
                if (isNaN(num)) return false;
                if (num < 0) return false;
                if (num > 1000) return false;
                return true;
            }

            function checkEAN(s) {
                for (let i = 0; i < s.length; i++) {
                    if (isNaN(s[i])) {
                        return false;
                    }
                }
                return true;
            }

            function showFormCards(requests) {
                mainContainer.innerHTML = ``;
                if (requests.length == 0) {
                    mainContainer.innerHTML = emptyFiller;
                    return;
                }
                let content = ``;
                for (let i = 0; i < requests.length; i++) {
                    const act = requests[i];
                    content += `<div id="${act.name}-card" class="d-flex w-75 h-25 flex-row card p-2 my-4">
                    <div class="d-flex justify-content-center my-3">
                        <img class="card-img w-75" src="${act.photo}"
                            alt="imagen del producto de la solicitud">
                    </div>
                    <div class="card-body d-flex flex-column gap-4 mt-3">
                        <ul class="list-unstyled gap-2 justify-content-start align-items-center text-start">
                            <li>
                                <h4><b>Nombre: </b>${act.name}</h4>
                            </li>
                            <li>
                                <h4><b>Precio: </b>${act.price}<b> €</b></h4>
                            </li>
                            <li>
                                <h4><b>Supermercado: </b>${act.market}</h4>
                            </li>
                            <li>
                                <h4><b>Estado: </b>${act.status}</h4>
                            </li>
                        </ul>
                        <div class="d-flex flex-column justify-content-center align-items-center mt-4 ">
                            <button id="${act.name}-quitter" class="btn btn-danger w-25 p-2 me-5 text-center">Quitar</button>
                        </div>
                    </div>
                </div>`
                }
                mainContainer.innerHTML += content;
            }

            ok.addEventListener("click", () => {
                const name = document.querySelector("#name-field");
                const price = document.querySelector("#price-field");
                const market = document.querySelector("#market-field");
                const ean = document.querySelector("#ean-field");
                const photo = document.querySelector("#photo-field");
                if (checkMarket(market.value) && checkPrice(price.value) && checkEAN(ean.value)) {
                    let marketname = market.value.charAt(0).toUpperCase() + market.value.toLowerCase().slice(1);
                    const priceNum = Number(price.value);
                    const photoData = URL.createObjectURL(photo.files[0]);
                    const newReq = { name: name.value, price: priceNum, market: marketname, ean: ean.value, status: "pendiente", photo: photoData, index: requests.length };
                    formButtons.classList.add("d-none");
                    opButtons.classList.remove("d-none");
                    requests.push(newReq);
                    const err = document.querySelector("#error-card");
                    err.classList.add("d-none");
                    showFormCards(requests)
                    mainContainer.addEventListener("click", (e) => {
                        if (e.target.classList.contains("btn-danger") && e.target.textContent.includes("Quitar")) {
                            const cardId = e.target.closest('.card').id;
                            const name = cardId.replace("-card", '');
                            requests = requests.filter(x => x.name !== name);
                            showFormCards(requests);
                        }
                    });
                } else {
                    const err = document.querySelector("#error-card");
                    err.classList.remove("d-none");
                }
            });




            addButton.addEventListener("click", () => {
                mainContainer.innerHTML = form;
                opButtons.classList.add("d-none");
                formButtons.classList.remove("d-none");

            });


        </script>
    </main>
    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>