<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>PrecioSmart - Buscar</title>

</head>

<body class="d-flex flex-column h-100 text-center">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5 mb-5">Búsqueda de productos</h1>

            <div class="search-container mb-5">
                <form id="search-form" th:action="@{/search}" method="get">
                    <div class="input-group">
                        <span class="input-group-text bg-white border-end-0" style="border-radius: 12px 0 0 12px;">
                            <i class="bi bi-search text-muted"></i>
                        </span>
                        <input type="text" name="producto" th:value="${query}" class="form-control border-start-0"
                            placeholder="Busca por código EAN o nombre del producto..."
                            style="padding: 12px; border-radius: 0;">

                        <button id="buscar" class="btn btn-naranja" type="submit" style="border-radius: 0 12px 12px 0;">
                            <img th:src="@{/img/svg/search.svg}" class="svg-sm" alt="Icono de lupa"> Buscar
                        </button>
                    </div>
                </form>

                <div>
                    <input type="file" 
                        id="barcode-input-capture" 
                        accept="image/*" 
                        capture="environment" 
                        style="display: none;" 
                        onchange="subirYEscanear(this)">
                        
                    <input type="file" 
                        id="barcode-input-gallery" 
                        accept="image/*" 
                        style="display: none;" 
                        onchange="subirYEscanear(this)">

                    <div class="d-flex justify-content-center mt-3 gap-3">
                        <button type="button" 
                                onclick="document.getElementById('barcode-input-capture').click()" 
                                class="btn-scan solo-movil">
                            📷 Escanear Producto
                        </button>
                        <button type="button" 
                                onclick="document.getElementById('barcode-input-gallery').click()" 
                                class="btn-scan">
                            📷 Subir imagen
                        </button>
                    </div>
                    <div id="loading" style="display: none; margin-top: 10px;">
                        <p>Procesando imagen...</p>
                    </div>
                </div>
            </div>

            <div id="cuerpo-resultados" class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
                <div th:if="${error}" class="panel-sm">
                    <span th:text="${error}"></span>
                    <div>
                        <a th:href="@{/user/request}" class="btn btn-naranja mt-3">Añadir producto</a>
                    </div>
                </div>
                <div class="col" th:each="p : ${productos}">
                    <div class="card h-100 card-naranja shadow-sm">
                        <img class="card-img-top img-producto" th:src="@{/product/{productoID}/pic(productoID=${p != null ? p.id : 0})}" alt="foto del producto">
                        <div class="card-body d-flex flex-column text-center">
                            <h5 class="card-title text-naranja fw-bold" th:text="${p.name}">Nombre</h5>
                            <ul class="list-group list-group-flush text-start mb-3">
                                <li class="list-group-item medium">Marca: <span th:text="${p.brand}"></span></li>
                                <li class="list-group-item medium">Cantidad: <span th:text="${p.quantity}"></span></li>
                                <li class="list-group-item medium">EAN: <span th:text="${p.EAN}"></span></li>
                            </ul>
                            <a th:href="@{/product/{productoID}(productoID=${p.id})}" class="btn btn-naranja mt-auto btn-comparar">
                                Comparar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <nav th:if="${productos.totalPages > 1}" class="    mt-5">
                <ul class="pagination justify-content-center">
                    
                    <li class="page-item" th:classappend="${productos.first} ? 'disabled'">
                        <a class="page-link" th:href="@{${url}(page=${productos.number})}">&laquo;</a>
                    </li>

                    <li class="page-item" th:classappend="${productos.number == 0} ? 'active'">
                        <a class="page-link" th:href="@{${url}(page=${1})}">1</a>
                    </li>

                    <li class="page-item disabled" th:if="${productos.number + 1 > 3}">
                        <span class="page-link">...</span>
                    </li>

                    <th:block th:if="${productos.totalPages > 2}">
                        <li class="page-item" 
                            th:each="i : ${#numbers.sequence(T(java.lang.Math).max(2, productos.number), T(java.lang.Math).min(productos.totalPages - 1, productos.number + 2))}"
                            th:classappend="${i == productos.number + 1} ? 'active'">
                            <a class="page-link" th:href="@{${url}(page=${i})}" th:text="${i}">i</a>
                        </li>
                    </th:block>

                    <li class="page-item disabled" th:if="${productos.number < productos.totalPages - 3}">
                        <span class="page-link">...</span>
                    </li>

                    <li class="page-item" th:classappend="${productos.number == productos.totalPages - 1} ? 'active'">
                        <a class="page-link" th:href="@{${url}(page=${productos.totalPages})}" th:text="${productos.totalPages}">999</a>
                    </li>

                    <li class="page-item" th:classappend="${productos.last} ? 'disabled'">
                        <a class="page-link" th:href="@{${url}(page=${productos.number + 2})}">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>
    </main>

    <script th:src="@{/js/script-scan.js}"></script>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
   
</body>

</html>